<div class="background-image">
    <div class="container">
        <h1>ABOUT US</h1>
            <div class="card">
                <h2>Hungry Harbour</h2>
                <p>Email:hungryharbour234@gmail.com</p>
                <p>Phone:9010987654</p>
            </div>
    </div>
</div>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .background-image{
        background-image: url('./assets/images/myimage1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>