.navbar{
    background-color: #FFF;
    color: #000000;
    box-shadow: 0 0px 18px 4px rgba(0,0 , 0, 0.719);
    min-height: 75px;
  }
  
  .navbar ul li{
    display: inline-flex;
  }
  
  ul li a{
    position: relative;
    padding: 16px 0 5px;
    margin: 0 25px;
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Audiowide' ,cursive;
    font-size: 17px;
    cursor: pointer;
  }