.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 600px;
    background-color: brown;
    top: 30%;
    padding: 20px;
    margin: 15px;
    border: 2px solid black;
    color: white;
}